.idea/*
service/intelligence-core-service/.idea/inspectionProfiles/profiles_settings.xml
service/intelligence-core-service/.idea/inspectionProfiles/Project_Default.xml
service/intelligence-core-service/.idea/intelligence-core-service.iml
service/intelligence-core-service/.idea/misc.xml
service/intelligence-core-service/.idea/modules.xml
service/intelligence-core-service/.idea/vcs.xml
service/intelligence-core-service/.idea/workspace.xml
